@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #ca2f8f;
  }
}

.fill-on-hover:hover {
  fill: var(--color-primary);
}

.fill-logo-on-hover:hover {
  fill: var(--color-primary);
  color: var(--color-primary);
}
