@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #3ebb33;
    --color-shadow: rgba(202, 47, 143, 0.253);
  }
}

.fill-on-hover:hover {
  fill: var(--color-primary);
}

.fill-logo-on-hover:hover {
  fill: var(--color-primary);
  color: var(--color-primary);
}
